<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <% include partials/header.ejs %>

    <p>Some text here</p>

    <div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Send us a message</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/transaction" novalidate>
  <div class="form-field <%= errors.custId ? 'form-field-invalid' : '' %>">
    <label for="custId">custId</label>
    <input class="input" id="custId" name="custId" type="number" value="<%= data.custId %>" />
    <% if (errors.custId) { %>
      <div class="error"><%= errors.custId.msg %></div>
      <% } %>
  </div>
  <div class="form-field <%= errors.artistId ? 'form-field-invalid' : '' %>">
    <label for="artistId">artistId</label>
    <input class="input" id="artistId" name="artistId" type="number" value="<%= data.artistId %>" />
    <% if (errors.artistId) { %>
      <div class="error"><%= errors.artistId.msg %></div>
      <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>

    <% include partials/footer.ejs %>
  </body>
</html>
